.contactsPage {
  font-size: 2rem;
  color: $main-color;
  margin-left: 2rem;
  font-family: Roboto, Arial, sans-serif;

  .contactsPageBtnHolder {
    display: flex;
    justify-content: end;
    margin-right: 2rem;

    &__button {
      border: none;
      background: none;
      color: $btn-add;
      font-size: 4.5rem;
      cursor: pointer;
    }
  }

  .contactsForm {
    &__searchInput {
      background: $input-bg;
      border: none;
      font-size: 2rem;
      margin-top: 2rem;
      padding: 1rem 2rem 1rem 1rem;
      border-radius: 7px;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  color: $btn-cancel;
  overflow-y: auto;
  justify-content: center;

  margin-right: 5px;
  color: $btn-cancel;
  &__letter {
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1.1rem;
  }
}
