$bg-color: rgb(16, 16, 16);
$nav-bg-color: rgb(33, 33, 33);
$main-color: #fff;

$btn-done: grey;
$btn-cancel: rgb(65, 103, 244);

$input-bg: rgb(33, 33, 33);

$input-text: #fff;
$input-text-color: grey;
