.contactInfo {
  margin-top: 3rem;
  background: $main-color;
  color: black;
  font-size: 2rem;
  padding: 1rem 0;
  padding-left: 1rem;
  width: 90%;
  border-radius: 1rem;
  & * {
    margin: 1rem 0;
  }
}
